ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
    }
    li {
        display: inline;
        
       } 

       
       a:link {
         color: #be1e2d;
         background-color: transparent;
         text-decoration: none;
       }
       
       a:visited {
         color: #be1e2d;
         background-color: transparent;
         text-decoration: none;
       }
       
       a:hover {
         color: #be1e2d;
         background-color: transparent;
         text-decoration: underline;
       }
       
       a:active {
         color: #be1e2d;
         background-color: transparent;
         text-decoration: underline;
       }
      body{text-align: center;}

      
